<!DOCTYPE html>
<html lang="en">
    <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sobre mi</title>
    </head>
    <body>
        <h1>Sobre mi</h1>
        <p>Estoy formada como desarrolladora de sofware junior en la Universidad Tecnológica de Pereira y Alura Latam. Empecé mi trayectoria profesional con el procesamiento de alimentos. Hice parte del primer grupo en Colombia del programa Desarrollador Jr en Unity realizado por Generation y Unity donde tuve la oportunidad de presentarme en diferentes jams y crear diversos juegos.
            <br>
            Referente al desarrollo de software, como Front end, también he podido programar diferentes plataformas con distintos lenguajes de programación, dichos proyectos los pueden visualizar en la sección de "proyectos" pero mencionando algunos que me llenan de orgullo son los videojuegos "Mystical World", "Rescue at sea", y las páginas "Rescatando patitas" y "Tocando el alma".
        </p>
    </body>
</html>