<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Contacto</title>
</head>
<body>
  <h1>Contactame</h1>
  <p>Puedes encontrar mi información aquí:</p>
  <button href="https://www.linkedin.com/in/andrea-mejia95/">Linkedin</button>
  <button href="https://andreamejia95.github.io/">Portafolio</button>
</body>
</html>