@tailwind base;
@tailwind components;
@tailwind utilities;

body{
    background: linear-gradient(45grad, rgb(6, 23, 38), rgb(17, 58, 93));
    font-family: "Namdhinggo", serif;
}

.slick-slide > div{
    margin: 0 10px;
}

.slick-dots li.slick-active button:before > div{
    color: orange !important;
}

.slick-next{
    right: 20px;
}
.slick-prev{
    left: 8px;
}
.slick-prev:before, .slick-next:before {
    font-size: 35px;
    color:rgb(137, 135, 134);
}

.slick-dots{
    bottom: 15px;
}
.slick-dots li button:before{
    font-size: 12px;
}

section{
    view-timeline-name: --section;
    view-timeline-axis: block;

    animation-timeline: --section;
    animation-name: show;

    animation-range: entry 25% cover 50%;
    animation-fill-mode: both;
}

@keyframes show{
    from{
        opacity: 0;
        scale: 50%;
    }

    to{
        opacity: 1;
        scale: 100%;
    }
}