@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background: linear-gradient(45grad, rgb(6, 23, 38), rgb(17, 58, 93));
  font-family: "Namdhinggo", serif;
}

main{
  height: 100vh;
  /*display: grid;
  grid-template-columns:
    repeat(
      auto-fit,
      minmax(150px, 1fr)
    );
  gap: 32px;*/
}